<div class="event-details">
    <div class="event-title">
        {{ linearizeEventTitle(event.title) }}
    </div>
    <div class="event-causes">
        <p>Cause:</p>
        <ul>
            <li *ngFor="let cause of event.causes">
                {{ cause }}
            </li>
        </ul>
    </div>
    <div *ngIf="event.done" class="event-effects">
        <p>Effetti:</p>
        <ul>
            <li *ngFor="let effect of event.effects">
                {{ effect }}
            </li>
        </ul>
    </div>
    <div class="event-players">
        <p *ngIf="event.done">Giocatori partecipanti:</p>
        <p *ngIf="!event.done">Giocatori iscritti:</p>
        <ul>
            <li *ngFor="let p of event.players">
                {{ p }}
            </li>
        </ul>
        <button *ngIf="!event.done"
            (click)="openSubscriptionForm()">
            Iscriviti all'evento
        </button>
    </div>
    <div class="event-description">
        {{ event.description }}
    </div>
</div>

<app-subscription-form *ngIf="showSubscriptionForm" 
    [event]="event" 
    (close)="closeSubscriptionForm()">

</app-subscription-form>