/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.container {
  display: contents;
  overflow-y: auto;
}

.chapter-container {
    display: flex;
    flex-direction: column;
  }
  
.event-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 20%;
    left: 20%;
    width: 60vw;
    height: 60vh;
    border: 1px solid black;
    background-color: white;
    overflow-y: scroll;
    div {
      padding: 1em;
      padding-bottom: 0;
    }
}

.event-title {
    font-size: 1.5em;
    font-weight: bold;
}

.event-causes, .event-effects, .event-players {
    p {
      font-weight: bold;
    }
}

.event-description {
  padding-bottom: 5vh;
}
  
.subscription-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 40%;
    left: 40%;
    width: 30vw;
    height: 30vh;
    border: 1px solid black;
    background-color: white;
    div {
      padding: 1em;
      padding-bottom: 0;
    }
}